<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DHCar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93851D931CFC37FB00FBA2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93851DAC1CFC37FC00FBA2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93851DB71CFC37FC00FBA2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
